@import "tailwindcss";


body{
    font-family: "popins" , sans-serif;
}
h1 ,  h2 {
    font-family: "Roboto" , sans-serif;

}
@layer utilities{
    .gradient{
        background: linear-gradient(-45deg , #302b63 , #00bf8f, #1cd8d2);
    }
}
html {
  scroll-behavior: smooth; /* ⬅️ This enables the smooth animation */
}
